<div class="container">
    <div class="tabs">
        <mat-tab-group  mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="List">
                <div class="content">
                    <app-topic-list ></app-topic-list>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Detail">
                <div class="content">
                    <app-topic-detail></app-topic-detail>
                </div>
            </mat-tab> -->
          </mat-tab-group>
    </div>
</div>