.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 { 
        margin-bottom:30px ;
    }
    .example-form {
        display: flex;
        width: 50%;
        flex-direction: column;
        .example-full-width {
        }
    }
}
