<div class="container">
  <form [formGroup]="changePasswordFrom" (ngSubmit)="onSubmit()" class="changePassForm">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordCurrent">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>passwordConfirm</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>